@import "tailwindcss";

@theme{
    --color-gray:#5A5959;
    --color-yellow:#FFEAAE;
    --color-dark-yellow:#FCCA3F;
    --color-orange:#F6828C;
}
body{
    background-color: #323334;
    /* color: white; */
}